    


    :root{
        --bg1:#040406;
        --bg2:#323234;
        --boxShodow:#010203;
        --Shodow1:#040406;
        --Shodow2:#444446;
        --SforIcon1:#2a2b2c;
        --SforIcon2:#020305;

    }











    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        user-select: none;

    }

    body{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background:linear-gradient(135deg, var(--bg1), var(--bg2));

    }

#all button{
    margin-bottom: 50px;
}
    
   

    #container{

        background:linear-gradient(135deg,var(--bg2),var(--bg1));
        box-shadow: 0 0 8px 6px var(--boxShodow);
        border-radius: 32px;

        

    }


    h1{
        font-family: sans-serif;
        margin: 22px auto;
        color: #4f7afe;
    
    

    }





    #user,#email,#lock{

        width: 240px;
        height: 42px;
        margin: 16px;
        background: none;
        font-size: 18px;
        color: #777;
        box-shadow: inset 4px 4px 8px var(--Shodow1),inset -4px -4px 8px var(--Shodow2);
        border-radius: 16px;
        
    
    
    }



    input{
        background:none ;
        height: 42px;
        border: none;
        outline: none;
        padding-left: 6px;
        color: #777;
        font-size: 14px;



    }



    #btn{
        width: 240px;
        height: 42px;
        background: none;
        border-radius: 32px;
        border: none;
        outline: none;
        font-size: 20px;
        color: #4f7af4;
        box-shadow: 4px 4px 8px var(--Shodow1), -4px -4px 8px var(--Shodow2) ;
        margin: 16px;

    }


    #btn:hover{
        color: #1f5aff;
        box-shadow: 6px 6px 10px var(--Shodow1), -6px -6px 10px var(--Shodow2) ;

    }


#btn:active{

    box-shadow:inset 4px 4px 8px var(--Shodow1),inset -4px -4px 8px var(--Shodow2) ;
    font-size: 16px;

}








h4{
    color: #777;
    margin: 16px auto;

}


#social_icon i{
    margin: 0 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    box-shadow: inset 3px 3px 8px var(--SforIcon1), inset -3px -3px 8px var(--SforIcon2),1px 1px 2px var(--SforIcon2),-1px -1px 2px var(--SforIcon1);
    border-radius: 50%;
    color: #4f7af1;
    transition-duration: 0.2s;

}





#social_icon i:hover{
    transform: scale(1.2);
}



#social_icon i:active{
    transform: scale(1.9);

}

#foot{
    color: #777;
    margin: 20px;
}

#sign{
    color: #4f7af1;
}

#drk{
    display: none;
    color: #112;

}



#lt{
    color: #eef;

}


#mode button{
    padding: 4px 8px;
    background:none ;
    border: none;
    outline: none;
    box-shadow: 4px 4px 8px var(--Shodow1),-4px -4px 8px var(--Shodow2);
    border-radius: 8px;
    font-size: 16px;
    transition-duration: 0.2s;
    
  



    
}




#mode button:hover{
    transform: scale(1.2);
}


#mode button:active{
    transform: scale(0.9);
}







